@model Employee_MVC_app.Models.ViewModel.SearchVM

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (@Html.BeginForm("Search", "Employee"))
{
    <label>Name :</label>@Html.TextBoxFor(Model => Model.FName)<br />
    <label>Salary :</label>@Html.TextBoxFor(Model => Model.Salary)<br />
    <input class="btn btn-default" type="submit" value="Search" />
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Employee Name</th>
                <th>Salary</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@employee.ID</td>
                    <td>@employee.Name</td>
                    <td>@employee.Salary</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = employee.ID })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = employee.ID })</td>
                </tr>
            }
        </tbody>
    </table>
</div>