
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MasterLayout</title>
</head>
<body>
    <div> 
        <table class="table">
            <tr>
                <td colspan="2">
                    <ul id="menu">
                        <li>@Html.ActionLink("Index","Index","Home")</li>
                        <li>@Html.ActionLink("Home", "Home", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Transaction", "Transaction", "Home")</li>
                        @if (Session["User"] != null)
                        {
                            <li>@Html.ActionLink("Log Out", "Logout", "User")</li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>@RenderBody()</td>
            </tr>
            <tr>
                <td colspan="2"></td>
            </tr>
        </table>
    </div>
</body>
</html>
